# OpenAI Compatible Server
OPENAI_API_KEY=
OPENAI_BASE_URL=

# LangFuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

# Optional Configuration
RAG_EMBEDDING_BATCH_SIZE=64
RAG_MAX_CONCURRENCY=128
