name: Lint, Build and Deploy

on:
  pull_request:
    branches:
      - main

permissions:
  packages: write
  contents: read

jobs:
  Lint-and-Format:
    name: Lint with Ruff and Format with Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --all-extras --dev --frozen

      - name: Lint
        run: uv run ruff check .

      - name: Check Formatting
        run: uv run ruff format --check .

  Test:
    name: Test with Pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --all-extras --dev --frozen

      - name: Run Tests
        run: uv run pytest

  Build-Push-Image:
    name: Build Docker image
    runs-on: ubuntu-latest
    needs: [Lint-and-Format, Test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --all-extras --dev --frozen

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: |
            ghcr.io/nycu-sdc/sciedu-llm:pr-${{ github.event.number }}
            ghcr.io/nycu-sdc/sciedu-llm:${{ github.sha }}
          context: .

  Deploy:
    name: Deploy
    needs: Build-Push-Image
    runs-on: ubuntu-latest
    steps:
      - name: Extract PR body for webhook
        uses: NYCU-SDC/Extract-PRbody@V1.0
        id: extract
        with:
          pr_body: ${{ github.event.pull_request.body }}

      - name: Process PR body for webhook
        run: |
          PR_TYPE=$(echo "${{ steps.extract.outputs.type_block }}" | jq -R -s @json)
          PR_PURPOSE=$(echo "${{ steps.extract.outputs.purpose_block }}" | jq -R -s @json)
          echo "PR_TYPE=$PR_TYPE" >> $GITHUB_ENV
          echo "PR_PURPOSE=$PR_PURPOSE" >> $GITHUB_ENV

      - name: Trigger n8n Snapshot Webhook
        run: |
          curl --location --request POST 'https://webhook.sdc.nycu.club/webhook/deploy' \
            --header 'Content-Type: application/json' \
            --header 'x-deploy-token: ${{ secrets.N8N_DEPLOY_TOKEN }}' \
              --data-raw '{
            "source": {
              "title": "SciEdu",
              "repo": "${{ github.repository }}",
              "branch": "${{ github.head_ref || github.ref_name }}",
              "commit": "${{ github.sha }}",
              "pr_number": "${{ github.event.pull_request.number }}",
              "pr_title": "${{ github.event.pull_request.title }}",
              "pr_type": ${{ env.PR_TYPE }},
              "pr_purpose": ${{ env.PR_PURPOSE }}
            },
            "method": "deploy",
            "metadata": {
              "environment": "snapshot",
              "component": "llm"
            },
            "inject_secret": {
              "enable": true,
              "project": "sciedu",
              "environment": "staging",
              "secrets": [
                {
                  "path": "/LLM",
                  "secret_name": "NCHC_API_KEY",
                  "env_name": "OPENAI_API_KEY"
                },
                {
                  "path": "/LLM",
                  "secret_name": "NCHC_API_URL",
                  "env_name": "OPENAI_BASE_URL"
                }
              ]
            },
            "post": {
              "notify_discord": {
                "enable": true,
                "channel": "sciedu-activity"
              },
              "setup_domain": {
                "enable": true,
                "title": "Endpoint",
                "name": "llm.pr-${{ github.event.pull_request.number }}.sciedu.sdc.nycu.club",
                "value": "default-eng-deploy:internal"
              }
            }
          }'
